@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&family=Red+Hat+Text&family=Shantell+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background: url('https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80');
    background-repeat: no-repeat;
    background-size: cover; */
    overflow: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 10px 70px;
    color: white;
}

.current-info {
    display: flex;
    justify-content: space-between;
}

.date-container .time {
    font-size: 70px;
    font-weight: 100;
}

.date-container #am-pm {
    font-size: 55px;
    margin-left: 10px;
}

.date-container .date {
    font-size: 30px;
}
/* right */
.place-container {
    text-align: end;
}

.place-container .time-zone {
    font-size: 30px;
    font-weight: 180;
}

.place-container .state{
    font-size: 20px;
    font-weight: 300;
}

.current-info .others {
    display: flex;
    flex-direction: column;
    background: rgba(24,24,27, 0.6);
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 20px 0;
}

.current-info .others .weather-item {
    display: flex;  
    justify-content: space-between;
}

/* Bottom section ////////////////////////// */

.future-forecast{
    background: rgba(24,24,27,0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.future-forecast .tomorrow{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    margin: auto;
    padding: 15px;
}
 .future-forecast .tomorrow .w-icon {
    border-radius: 50%;
    margin-right: 20px;
 }

 /* .w-icon {
    border-radius: 5px;
    margin: 10px;
 } */

.future-forecast .tomorrow .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 15px;
    text-align: center;
}

.future-forecast .tomorrow .temp {
    font-size: 20px;
    padding-top: 15px;
}

#desc{
    color: rgb(152, 217, 245);
}
#tomorrow-temp{
    color: rgb(231, 231, 171);
}

.future-forecast .weather-forecast {
    display: flex;
}

.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 15px;
}

.weather-forecast .weather-forecast-item .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp {
    font-weight: 100;
}

/* Media Queries for responsiveness */

@media (max-width: 950px) {
    .future-forecast{
        justify-content: start;
        /* align-items: none; */
        overflow-x: scroll;
    }
}

@media only screen and  (max-width:600px){

     .container{
         padding: 20px;
     }

     .future-forecast{
         justify-content: start;
         align-items: none;
         overflow-x: scroll;
     }

     .future-forecast .tomorrow {
         font-size: 16px;
     }

     .date-container .time{
         font-size: 50px;
     }

     .date-container #am-pm{
         font-size: 35px;
     }

     .date-container .date{
         font-size: 20px;
     }

     .place-container{
         text-align: end;
         margin-top: 15px;
     }

     .place-container .time-zone{
         font-size: 20px;
     }

     .current-info .others{
         padding: 16px;
     }

     .current-info .others .weather-item{
         font-size: 15px;
         margin: 3px;
     }

 }

 #description{
    color: rgb(246, 114, 114);
    margin-top: 10px;
 }

 .main-icon {
    margin-top: 0;
 }

/* For the video background */
 .video-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .video-bg {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-bg {
    width: auto;
    height: 100%;
  }
}
