@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&family=Red+Hat+Text&family=Shantell+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background: url('https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80');
    background-repeat: no-repeat;
    background-size: cover; */
    overflow: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 10px 70px;
    color: white;
}

.current-info {
    display: flex;
    justify-content: space-between;
}

.date-container .time {
    font-size: 70px;
    font-weight: 200;
    letter-spacing: 12px;
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8), -3px 0px 7px rgba(81,67,21,0.8), 0px 4px 7px rgba(81,67,21,0.8); 
}

.date-container #am-pm {
    font-size: 55px;
    margin-left: 10px;
}

.date-container .date {
    font-size: 30px;
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8), -3px 0px 7px rgba(81,67,21,0.8), 0px 4px 7px rgba(81,67,21,0.8);
}
/* right */
.place-container {
    text-align: end;
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8), -3px 0px 7px rgba(81,67,21,0.8), 0px 4px 7px rgba(81,67,21,0.8); 
}

.place-container .time-zone {
    font-size: 25px;
    font-weight: 200;
}

.place-container .state{
    font-size: 20px;
    font-weight: 300;
}

.current-info .others {
    display: flex;
    flex-direction: column;
    background: rgba(24,24,27, 0.6);
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 20px 0;
    position: relative;
    font-size: 1.1rem;
}

.current-info .others .weather-item {
    display: flex;  
    justify-content: space-between;
}

/* Bottom section ////////////////////////// */

.future-forecast{
    background: rgba(24,24,27,0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.future-forecast .tomorrow{
    display: flex;
    align-items:center;
    justify-content: space-between;
    text-align: center;
    padding: 30px 15px;
    border: 1px solid rgb(154, 140, 140);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(207, 244, 107, 0.3) 0px 18px 36px -18px inset;
}
 .future-forecast .tomorrow .w-icon {
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid rgb(117, 107, 107);
 }

 .w-icon {
    border-radius: 5px;
    /* margin-bottom: 0px; */
 }

.future-forecast .tomorrow .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #878a79;
}

.future-forecast .tomorrow .temp {
    font-size: 20px;
    padding-top: 15px;
}

#desc{
    color: rgb(152, 217, 245);
    /* font-style: italic; */
}
#tomorrow-temp{
    color: rgb(231, 231, 171);
    cursor: pointer;
    transition: all 0.5s ease-in;
}
#tomorrow-temp:hover{
    font-size: 1.6rem;
    color: rgb(233, 233, 50);

}

.future-forecast .weather-forecast {
    display: flex;
    /* border: 1px solid  red; */
}

.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;
    /* border: 1px solid white; */
    padding: 10px;
    border-radius: 15px;
    height: 250px;
}

.weather-forecast .weather-forecast-item .day {
    padding: 5px 10px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
    /* border: 1px solid red; */
}

.weather-forecast .weather-forecast-item .temp {
    font-weight: 300;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.5s ease-in;
    
}

.weather-forecast .weather-forecast-item .temp:hover {
    color: rgb(233, 233, 50);
    font-size: 1.3rem;   
}

#description{
    color: rgb(235, 159, 67);
    margin-top: 10px;
 }
 #current-temp {
    color:   rgb(231, 231, 171);
    cursor: pointer;
    transition: all 0.5s ease-in;
 }
 #current-temp:hover {
    font-size: 1.2rem;
    color: rgb(233, 233, 50);
 }

 .main-icon {
    margin-top: 0;
 }

/* Media Queries for responsiveness */

@media (max-width: 1200px) {
    .future-forecast{
        justify-content: start;
        /* align-items: none; */
        overflow-x: scroll;
    }
}

@media only screen and  (max-width:600px){

     .container{
         padding: 20px;
     }

     .future-forecast{
         justify-content: start;
         align-items: none;
         overflow-x: scroll;
     }

     .future-forecast .tomorrow {
         font-size: 16px;
     }

     .date-container .time{
         font-size: 50px;
     }

     .date-container #am-pm{
         font-size: 35px;
     }

     .date-container .date{
         font-size: 20px;
     }

     .place-container{
         text-align: end;
         margin-top: 15px;
     }

     .place-container .time-zone{
         font-size: 20px;
     }

     .current-info .others{
         padding: 16px;
     }

     .current-info .others .weather-item{
         font-size: 15px;
         margin: 3px;
     }

 }


/* For the video background */
 .video-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .video-bg {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-bg {
    width: auto;
    height: 100%;
  }
}
